.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border-radius: 25px;
  border: none;
  background-color: white;
  padding: 15px;
  width: 150px;
  font-family: 'Karrik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #213fff;
}

button:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.74);
}

.experience-list {
  text-align: left;
  width: 60%;
  margin: auto;
}

.divider {
  width: 300px;
}

h2 {
  letter-spacing: 0.05em;
  font-family: 'VTF MisterPixel';
  font-size: 30px;
  font-weight: normal;
}

h1 {
  letter-spacing: 0.05em;
  font-family: 'VTF MisterPixel Tools';
  font-size: 80px;
  font-weight: normal;
  margin-bottom: 0px;
}

.animate-move {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.animate-move:hover {
  top: -5px;
}

.title-div {
  display: flex;
}

.title-text {
  margin-top: 60px;
  font-size: 70px;
}

footer {
  font-size: 8px;
}

p {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 700px) {
  p {
    width: auto;
  }

  .experience-list {
    width: auto;
  }
}
